.blogContainer {
  width: 97%;
  margin: 25px auto;
}

.blogList {
  display: grid;
  grid-template-columns: 1;
}

.post {
  margin: 0 auto 40px auto;
  width: 100%;
}

.postTitle {
  font-weight: 700;
  margin-bottom: 0.3125rem;
}

.postImg {
  width: 100%;
}

.postDescription {
  line-height: 24px;
  margin: 0 0 10px;
}

.blogList div:nth-of-type(9) {
  background-image: url('/images/npf-blue-bg.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  height: 395px;
  color: #fff;
  text-align: left;
}

.blogList div:nth-of-type(9) .postImg {
  width: 300px;
  margin: 0 30px;
}

.blogList div:nth-of-type(9) .postTitle {
  display: none;
}

.blogList div:nth-of-type(9) .postDescription {
  margin: 10px 30px;
  font-size: 16px;
  font-weight: 600;
}

@media (min-width: 765px) {
  .blogList {
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 15px;
  }
  .blogList div:nth-of-type(9) .postImg {
    width: 80%;
  }
}

@media (min-width: 1024px) {
  .blogList div:nth-of-type(9) .postImg {
    width: 250px;
  }
}

@media (min-width: 1200px) {
  .blogContainer {
    width: 980px;
  }
}
