.headerContainer {
  display: flex;
  flex-direction: column;
  background-color: #000;
  height: 100%;
}

.headerWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 980px;
  width: 100%;
  margin: auto;
}

.miniWrapper {
  display: flex;
  align-items: center;
}

.headerLogo {
  height: 35px;
  margin: 10px;
}
.headerStyle {
  height: 55px;
  background-color: black;
  color: #fff;
  font-weight: 700;
  display: flex;
  align-items: center;
  padding-left: 10px;
}

.headerButton {
  background: #000;
  height: 55px;
  min-width: 98px;
  color: white;
  border-left: 1px solid white;
  border-top: none;
  border-right: none;
  border-bottom: none;
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;
  transition: all 0.15s ease-out;
}

.headerButton > svg {
  padding-right: 5px;
}

.headerButton > span:hover {
  cursor: pointer;
}

.headerButton.active {
  background: #333;
  transition: all 0.15s ease-out;
}

button:focus {
  outline: none;
}
