.listContainer {
  /* min-height: calc(100vh - 55px - 489px);
  overflow: hidden;
  display: block; */
  position: relative;
}

.listDetailContainer {
  padding: 0 10px;
}

.listHeader {
  margin: 25px auto 50px auto;
  border-bottom: 1px solid #cccccc;
}

.crumbs {
  display: inline-block;
  font-size: 12px;
  font-style: italic;
  font-weight: normal;
  color: #555;
}

.stateHeader {
  font-family: Georgia, Times, Times New Roman, serif !important;
  line-height: 1.3;
  margin-top: 0;
  font-weight: normal;
  font-size: 24px;
}

.stateParkList {
  margin-left: 0;
}

.tag {
  background-color: #4b5e26;
  color: #fff;
  font-size: 19px;
  max-width: 62px;
  width: 100%;
  text-align: center;
  padding: 0px 10px;
  font-family: arial;
  display: inline-block;
  line-height: 1.7;
  font-weight: 400;
  text-transform: uppercase;
  transform: scale(0.8, 1.3);
}

@media (min-width: 768px) {
  /* .listContainer {
    min-height: calc(100vh - 55px - 275px);
  } */

  .crumbs {
    margin-bottom: 30px;
  }
  .stateHeader {
    font-size: 34px;
  }
}

@media (min-width: 1024px) {
  .crumbs {
    font-size: 14px;
    font-weight: 500;
  }
  .stateHeader {
    font-size: 44px;
  }
}

@media (min-width: 1200px) {
  .listDetailContainer {
    width: 980px;
    margin: 0 auto;
  }
}
