.loadingContainer {
  min-height: calc(100vh - 55px - 489px);
  overflow: hidden;
  display: block;
  position: relative;
  font-size: 35px;
}

.loadingContainer > span {
  display: flex;
  justify-content: center;
  margin-top: 5%;
}

.loadingContainer > p {
  font-size: 14px;
  padding-top: 20px;
  text-align: center;
}

@media (min-width: 768px) {
  .loadingContainer {
    min-height: calc(100vh - 55px - 275px);
    font-size: 65px;
  }
}
