.siteContainer {
  display: flex;
  flex-direction: column;
  margin: 0 5px;
}

.siteWrapper {
  background-image: url('/images/glacierSunset.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  margin-bottom: 50px;
}

.siteTitle {
  font-size: 32px;
  font-family: Open Sans, Arial, sans-serif;
  text-align: center;
  font-weight: 100;
  padding-top: 15px;
}

.siteButtons {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 20px 0;
}

.siteButtons button {
  transition: background-color 0.3s ease;
  display: block;
  background-color: #4b5e26;
  border: 1px solid #fff;
  border-radius: 5px;
  font-weight: 700;
  margin: 20px 15px;
  padding: 17px 0;
  overflow: hidden;
  position: relative;
  text-transform: uppercase;
  width: 220px;
  color: #fff;
  font-size: 1em;
}

.siteButtons button:hover {
  cursor: pointer;
  background-color: #3d4c1f;
}

.findYourPark {
  width: 100%;
  margin-bottom: 120px;
}

.findYourPark img {
  width: 100%;
}

@media (min-device-width: 768px) {
  .siteButtons {
    flex-direction: row;
    margin-top: 60px;
    bottom: 30px;
  }
}

@media (min-width: 1200px) {
  .siteContainer {
    width: 980px;
    margin: 25px auto;
  }
}
